# 本地环境
**/.DS_Store
**/.local/*
**/.venv/*
**/.conda/*
**/.task/remote/*

# 构建输出
**/dist/**
**/build/**

# 秘密文件
**/.env
**/.secret/*
**/config/config.yaml

# node_modules
**/node_modules/**
**/tsconfig.tsbuildinfo

# 临时目录
**/tmp/**
**/log/**
**/logs/**
**/temp/**
**/cache/**

# 临时文件
**/*.bak
**/*.log
**/*.tmp
**/*.temp
**/*.cache

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

# build binaries
/bin/

# ai tools
# **/.claude/*

# VS Code extensions
.vsix
